<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bytescout.Spreadsheet" version="2.4.0.1346" targetFramework="net452" />
  <package id="DataAnalysis" version="0.0.16342.2" targetFramework="net452" />
  <package id="DataStructures" version="0.0.16309.1" targetFramework="net452" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net452" />
  <package id="EnterpriseLibrary.ExceptionHandling" version="6.0.1304.0" targetFramework="net452" />
  <package id="EnterpriseLibrary.ExceptionHandling.Logging" version="6.0.1304.0" targetFramework="net452" />
  <package id="EnterpriseLibrary.Logging" version="6.0.1304.0" targetFramework="net452" />
  <package id="GraphViz.NET" version="1.0.0" targetFramework="net452" />
  <package id="Visualization" version="1.0.16342.6" targetFramework="net452" />
  <package id="WpfCL" version="1.0.16340.1" targetFramework="net452" />
</packages>